<mat-horizontal-stepper  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>انتخاب اتاق</ng-template>
      <h6>تعداد اتاق</h6>
      <mat-form-field>
        <select matNativeControl required formControlName="roomCount">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>

        </select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">بعد</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>تعیین افراد</ng-template>
      <h6>تعداد بزرگسال</h6>
      <mat-form-field>
        <select matNativeControl required formControlName="adultCount">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>

        </select>
      </mat-form-field>
<div class="row">
<div class="col-md-6">
  <h6>تعداد خردسال یا کودک</h6>
  <mat-form-field>
    <select matNativeControl  formControlName="childCount">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>

    </select>
  </mat-form-field>
</div>
<div class="col-md-6"  *ngIf="secondFormGroup.get('childCount').value">
  <h6> سن خردسال یا کودک</h6>
  <mat-form-field>
    <select matNativeControl  formControlName="childAge">
      <option value="1">1تا 4 سال</option>
      <option value="2">4 تا 7 سال</option>
      <option value="3">7 سال به بالا</option>
    </select>
  </mat-form-field>
</div>
</div>

      <div>
        <button mat-button matStepperPrevious>قبل</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">بعد</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>پایان</ng-template>
    تموم شد!
    <div>
      <button mat-button matStepperPrevious>قبل</button>
      <button mat-button (click)="stepper.reset()">بعد</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>