<div  data-stellar-background-ratio="0.5">
  <img src="assets/images/img_2.jpg" style="width:100%">

</div>
<div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="block-32">
          <form action="#">
            <div class="row">
           <app-room></app-room>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 section-heading">
          <h4 class="heading">نظرات کاربران</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">

          <div class="block-33">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="assets/images/person_3.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h4 class="heading">محمد</h4>
                <span class="meta">کاملا راضی</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo;همه چی عالی بود... &ldquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">

          <div class="block-33">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="assets/images/person_2.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h4 class="heading">سارا</h4>
                <span class="meta">کاملا راضی</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo; یک تجربه عالی &ldquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">

          <div class="block-33">
            <div class="vcard d-flex mb-3">
              <div class="image align-self-center"><img src="assets/images/person_1.jpg" alt="Person here"></div>
              <div class="name-text align-self-center">
                <h4 class="heading">مهسا</h4>
                <span class="meta">راضی</span>
              </div>
            </div>
            <div class="text">
              <blockquote>
                <p>&rdquo; در یک کلمه بی نظیر &ldquo;</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>